$size: .45em;

.recipe-info{

    .ingredient-container{
        background-color: #fff;
        //box-shadow: 0 .1625rem .225rem 0 rgba(0,0,0,.06);
        transition: 0.3s;
        padding: 15px;
        margin-bottom: 23px !important;
        margin-top: 23px !important;
        border-radius: 8px;
        width: 93%;
        margin: auto;

            .servings{
                width: 80%;
                margin: 15px;
                    .fa-user-friends{
                        margin: auto;
                        padding-right: 16px;
                    }
                
                    .custom-selecter{
                        position: relative;
                        display: flex;
                            select{
                               font-size: .85rem;
                               padding: .5em 2em .5em .75em;
                               background: #fff;
                               color: #333;
                               border: 0.5px solid #828282;
                               border-radius: 0px;

                            }
                            .custom-arrow{
                                position: absolute;
                                top: 0;
                                right: 0;
                                display: block;
                                background: #969696;
                                height: 100%;
                                width: 3em;
                                pointer-events: none;

                                    
                            }
                            .custom-arrow::before, 
                            .custom-arrow::after{
                                content: "";
                                position: absolute;
                                width: 0;
                                height: 0;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                            }

                            .custom-arrow:before{
                                border-left: $size solid transparent;
                                border-right: $size solid transparent;
                                border-bottom: $size solid #333;
                                top: 36%;
                            }

                            .custom-arrow:after{
                                border-left: $size solid transparent;
                                border-right: $size solid transparent;
                                border-top: $size solid #333;
                                top: 64%;

                            }
                    }
            }

            .ingredients-header{
                padding: 15px;
                color: #6d6d6d;
                font-weight: normal;
                font-size: 1rem;
            }

            .input-group-text{
                color: #333;
                font-family: 'poppins', sans-serif;
                background-color: #fff;

            }


        
            .ingredient-card{
                display: flex;
                justify-content: space-between;
                //border-bottom: 0.5px solid rgb(203, 203, 203);
                margin: 15px;
            
                    .inner-card-left{
                        margin: 10px 10px 10px 0px;
                        width: 40%;
                        display: flex;
                            .value-amount{
                                margin-right: 3px;
                            }
                    }
            
                    .inner-card-right{
                        margin: 10px;
                        width: 60%;
                    }
            }
    }

    .instructions-container{
        background-color: #fff;
        //box-shadow: 0 .1625rem .225rem 0 rgba(0,0,0,.06);
        transition: 0.3s;
        padding: 15px;
        margin-bottom: 23px !important;
        margin-top: 23px !important;
        border-radius: 8px;
        width: 93%;
        margin: auto;
            .instructions-header{
                padding: 15px;
                color: #6d6d6d;
                font-weight: normal;
                font-size: 1rem;
            }
        
            .instructions{
                list-style: none;
                padding: 0px;
                    .steps{
                        margin: 15px;
                    }
            }
    }

    .js-decreaseService{
        display: none;
    }

    .js-increaseService{
        display: none;
    }

}

@media screen and (min-width:1224px){
    .recipe-info{
        display: flex;
        width: 87.5%;
        margin: auto;
            .ingredient-container{
                width: 35%;
                margin-right: 15px;
            }
        
            .instructions-container{
                width: 65%;
                //box-shadow: 0 .1625rem .225rem 0 rgba(0,0,0,.06);
                margin-left: 15px;

            }
    
    }
}