.rating-container{
    display: inline-block;
    margin-bottom: 32px;
        .rating-icon{
            margin-bottom: 9px;
                .fa-star{
                    font-size: 2rem;
                    margin: auto !important;
                    align-items: center;
                    justify-content: center;
                    
                }
                .fa-star-half{
                    font-size: 2rem;
                    margin: auto !important;

                    align-items: center;
                    justify-content: center;
                }
        }

        .rating-content{
            text-align: center;
                span{
                    align-items: center;
                    justify-content: center;
                }
        }
}