body{
    //background-color: #f3f3f7;
    background-color: #ffffff;

}

h2 a,
div a, 
.page-item a{
    text-decoration: none;
    color: #333;

        &:hover{
            text-decoration: underline;
            color: #7777ae;
        }
}

.page-item.active .page-link{
    color: #fff;
    background-color: #7777ae;
    border-color: #7777ae;
}

h1{
    font-family: 'poppins', sans-serif;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
 
h2, h3, h4, h5, h6{
    font-family: 'poppins', sans-serif;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.1em !important;
}

p, li, span {
    font-family: 'poppins', sans-serif;
    font-size: .85rem;
    color: #333;

}


.main-content{
    width: 98%;
    margin: auto;
    //background-color: #f3f3f7;
    background-color: #ffffff;

        @media screen and (min-width:1224px){
            width: 90%;
        }

}

.hero-header-text{
    @media screen and (min-width:1224px){
        width: 80%;
        padding-top: 16px !important;
        
            .hero-header-text-h1{
                font-size: 5.5rem;
                font-family: 'poppins', sans-serif;
                letter-spacing: 0.05em;

            }
    }
}

.page-header{
    width: 100%;
    display: flex;
    justify-content: center;
    //padding-bottom: 26px;

        h1{

                span{
                    display: block;
                    margin: auto;
                    text-align: center;
                    font-size: 3rem;
                }
        }
    @media screen and (min-width:1224px){
        h1{
            margin: auto;
                span{
                    font-size: 5rem;
                    display: block;
                }
        }
    }
}
.title-text-h1{
    color: #333;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-transform: none;
    line-height: 54pt;
    @media screen and (min-width:1224px){
        font-size: 4.6rem;
        font-weight: normal;
        line-height: 68pt;
        
    }
}

.recipe-content{
    margin-bottom: 35px;
    margin-top: 35px;
    

    @media screen and (min-width:1224px){
        display: flex;
        width: 98%;

        .content-container{
            width: 55% !important;
            margin-left: 50px !important;
            margin-top: 0px !important;
        }
    }
    .content-container{
            margin-bottom: 35px;
            width: 93%;
            margin: auto;
            background-color: #fff;
                .entry-meta{

                        small{
                            font-size: .85rem;
                                a{
                                    
                                    color: #6c757d !important;
                                }
                        }
                }
           
                .paragraph-container{
                    padding: 0px 40px 40px 40px;
                    
                        p{
                            font-size: 1.25rem;
                        }
                    
                }
    }
}
.the-content{
    width: 93%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
        @media screen and (min-width:1224px){
            width: 87.5%;
            margin-top: 9.3rem;
            margin-bottom: 7.8rem;
            .the-content-paragraph{
                width: 60%;
                padding-left: 30px;
            }
        }
}

.category-nav{
    margin: auto;
    margin: 26px 0px 26px 0px;

    
        ul{
            display: flex;
            flex-wrap: wrap !important;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            list-style: none;
            width: 100%;
            margin: auto;
            padding: 0;

                li{
                    margin:  10px;

                    text-transform: lowercase;
                        &::first-letter{
                            text-transform: uppercase;
                        }
                
                }
        }
}

