body{
    //background-color: #f3f3f7;
    background-color: #ffffff;

}

h2 a,
div a, 
.page-item a{
    text-decoration: none;
    color: #333;

        &:hover{
            text-decoration: underline;
            color: #7777ae;
        }
}

.page-item.active .page-link{
    color: #fff;
    background-color: #7777ae;
    border-color: #7777ae;
}
.top-button{

        .btn-primary {
            color: #fff;
            background-color: #7777ae;
            border-color: #7777ae;
        }
}

h1{
    font-family: 'poppins', sans-serif;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
 
h2, h3, h4, h5, h6{
    font-family: 'poppins', sans-serif;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.1em !important;
}



p, li, span {
    font-family: 'poppins', sans-serif;
    font-size: .85rem;
    color: #333;

}


